footer{
    height: 9rem;
}

.contenedor{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
}

.left{
    width: 50%;
    margin-top: 10px;
    float: left;
    color: #ffffff;
    min-height: fit-content;
}
.right{
    width: 50%;
    margin-top: 10px;
    float: right;
    color: #ffffff;
    font-weight: 500;
}

.icon{
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 1800px) {

    footer{
        height: 10rem;
    }
}

@media (max-width: 766px) {

    footer{
        height: 16rem;
    }

    .left{
        width: 50%;
        margin-top: 10px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .right{
        width: 50%;
        margin-top: 10px;
        color: #ffffff;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}