<footer class="background-dark text-white">
    <div class="contenedor">
        <div class="container py-3">
            <div class="left text-center">
                <p style="margin-bottom: 10px;">Horario de atención:</p>
                <p>Lunes a Viernes: 09:00 a 20:30</p>
                <p>Sábados y Domingos: 09:30 a 17:00</p>
            </div>
            <div class="right text-center">
                <p>Visita nuestras Redes Sociales!</p>
                
                <div class="mt-3">
                    <a href="https://www.whatsapp.com/" target="_blank" class="icon mr-3"><i class="fab fa-whatsapp fa-3x"></i></a>
                    <a href="https://web.telegram.org/" target="_blank" class="icon mr-3"><i class="fab fa-telegram-plane fa-3x"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" class="icon mr-3"><i class="fab fa-facebook fa-3x"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" class="icon mr-3"><i class="fab fa-instagram fa-3x"></i></a>    
                </div>
                
            </div>
        </div>
    </div>
</footer>