<nav class="navbar justify-content-center navbar-dark background-dark">
  <a class="navbar-brand" [routerLink]="['/productos']">
    <img src="/assets/img/logo.png" width="60" height="60" alt="" loading="lazy">
  </a>
</nav>