/*barra de busqueda*/
.btnBuscar{
    position: absolute;
    top: 0;
    margin-right: -50px;
    margin-top: -5px;
    background-color: #a5a5a5;
}

.btnBuscar2{
    position: absolute;
    top: 0;
    margin-left: 24px;
    margin-top: -5px;
    background-color: #a5a5a5;
}

.busqueda{
    width: 340px;
    margin-left: 7rem;
    margin-right: auto;
}

/*opciones y panel*/
::ng-deep .mat-autocomplete-panel{
    border-radius: 10px;
}

.mat-option.mat-active {
    background: #DFE0E4;
}

.mat-option:hover {
    background: #DFE0E4;
}

@media (max-width: 960px) {
    .busqueda {
        margin-left: 0px;
        width: 340px;
        margin-right: auto;
    }
}