<mat-form-field class="busqueda">
    <input type="text" matInput placeholder="Ingrese el nombre de un producto" (keydown.enter)="onKeydown()"
    [formControl]="inputBusqueda" [matAutocomplete]="auto" aria-label="State" class="inputSearch">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="this.inputBusqueda.reset()"
    *ngIf="this.inputBusqueda.dirty" matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>

    <button (click)='mostrarProductosEncontrados()' mat-button matTooltip="Buscar" matTooltipPosition="right"
      [ngClass]="{btnBuscar: this.inputBusqueda.pristine, btnBuscar2: this.inputBusqueda.dirty}">
      <mat-icon matSuffix>search</mat-icon></button>
    
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='mostrarProductoSeleccionado($event.option.value)'>
      <mat-option *ngFor="let nombreProducto of filteredOptions | async" 
        [value]="nombreProducto">{{ nombreProducto }}</mat-option>
    </mat-autocomplete>

</mat-form-field>

