<div class="contenedor">

    <div class="filtros">

        <div class="opcion">
            <mat-form-field class="filtro1">
                <mat-label>Ordenar por</mat-label>
                <mat-select matNativeControl [(ngModel)]="ordenSeleccionado" (selectionChange)="ordernarProductos()">
                <mat-option value="nombre">Nombre</mat-option>
                <mat-option value="menormayor">Precio menor a mayor</mat-option>
                <mat-option value="mayormenor">Precio mayor a menor</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <app-busqueda class="opcion"></app-busqueda>

    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mt-3">
        <div class="col mb-4" *ngFor="let producto of listaProductos">
            <div class="card text-center mb-3 anchoCard">
                <img [src]="producto.urlImage" class="card-img-top imagenProducto" alt="..." *ngIf="producto.urlImage != '' && producto.urlImage != null" data-toggle="modal" [attr.data-target]="'#modal' + producto.id">
                <img src="assets/img/no-image.png" class="card-img-top imagenProducto" alt="..." *ngIf="producto.urlImage == '' || producto.urlImage == null" data-toggle="modal" [attr.data-target]="'#modal' + producto.id">
                
                <div class="card-body">
                  <h5 class="card-title titulo-tarjeta" *ngIf="producto.name2" [matTooltip]="producto.name" matTooltipPosition="above">{{ producto.name2 | titlecase }}</h5>
                  <h5 class="card-title titulo-tarjeta" *ngIf="!producto.name2">{{ producto.name | titlecase }}</h5>
                  <h5 class="card-title titulo-tarjeta">{{ producto.brand | titlecase }}</h5>
                  <h5 class="card-title precio"><b>{{ producto.price | currency:'CLP': 'symbol-narrow' : '1.0' }}</b></h5>
                </div>
            </div>
    
            <!-- MODAL PRODUCTO -->
            <div class="modal fade" [id]="'modal' + producto.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <picture>
                            <img [src]="producto.urlImage" class="card-img-top imagenProducto" alt="..." *ngIf="producto.urlImage != '' && producto.urlImage != null" data-toggle="modal" [attr.data-target]="'#modal' + producto.id">
                            <img src="assets/img/no-image.png" class="card-img-top imagenProducto" alt="..." *ngIf="producto.urlImage == '' || producto.urlImage == null" data-toggle="modal" [attr.data-target]="'#modal' + producto.id">
                        </picture>
                        </div>
                        <div class="modal-body">
                            <h3 class="titulo-tarjeta">
                                Nombre: {{ producto.name | titlecase }}
                            </h3>
                            <h3 class="titulo-tarjeta">
                                Marca: {{ producto.brand | titlecase }}
                            </h3>
                            <h3 class="titulo-tarjeta">
                                Categoría: {{ producto.category | titlecase }}
                            </h3>
                            <h3 class="titulo-tarjeta">
                                Descuento: {{ producto.discount }}%
                            </h3>
                            <h3 class="precio">
                             <b>Precio: {{ producto.price | currency:'CLP': 'symbol-narrow' : '1.0' }}</b>
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-cerrar" mat-stroked-button color="link"  data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>


