.filtros{
    display: flex;
    width: calc(100% -20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.filtros .opcion{
    margin: 10px;
}

.filtro1{
    width: 13rem;
}
.imagenProducto{
    width: 100%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.4s;
    min-height: 300px;
    max-height: 300px;
}
.imagenProducto:hover{
    padding: 5px;
}

/* MODAL PRODUCTO */

.modal-header{
    height: auto;
}

.modal-header picture{
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-header img{
    object-fit: contain;
    max-width: 100%;
}

.btn-cerrar{
    margin-left: auto;
    margin-right: auto;
}
/* TRANSITION */
.contenedor{
    animation: transitionIn 1.5s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.mat-option:hover {
    background: #DFE0E4;
}

/*placeholder*/
::ng-deep .mat-form-field-underline, ::ng-deep.mat-form-field-ripple {
    background-color: #646566 !important;
    color: #646566 !important;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: #646566;
}
/*label*/
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #646566 !important;
}

@media (max-width: 960px) {

    .filtros{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        text-align: center;
    }
}

.precio{
    color: darkorange;
}

.titulo-tarjeta{
    color: rgb(124, 121, 121);
}