<ngx-spinner>
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<app-header></app-header>

<div class="container alturaGeneral">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
