/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-color: #0a0a0a; */
}

.green-snackbar{
    background-color: rgb(51, 167, 12);
}

.red-snackbar{
    background-color: crimson;
}

.background-dark{
    background-color: #2e2e2e;
}